<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heptagram API</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
</head>
<body>

    <header>
        <h1 class="logo"><a href="#">Heptagram API<span class="version">v0.0.2</span></a></h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Legals</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="about">
                <p class="about-text">
                    An API for the <a href="https://heptagram.xyz">Heptagram Bot</a>
                    This API aims to be a stand-alone API that aims to reduce reliance of Heptagram on many 3rd party libraries or APIs.
                </p>
                <a href="#" class="action">Pop into our Discord Server</a>
            </div>
        </section>
    </main>

    <footer>
        <small>Copyright &copy; 2021, Heptagram</small>
    </footer>

</body>
</html>
