@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --clr-text: black;
    --clr-primary: #442e6e;
    --clr-accent: #fff826;

    --ff-serif: 'Noto Serif', sans-serif;
    --ff-logo: 'Merriweather', sans-serif;
    --ff-legal: 'Courier New', Courier, monospace;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 1.125rem;
}

body {
    margin: 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 2em 1em;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h2, h3 {
    font-family: var(--ff-serif);
    line-height: 0.8;
    letter-spacing: 2px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin-bottom: 0.85rem;
}

.text-primary {
    color: var(--clr-primary)
}

.logo {
    font-family: var(--ff-logo);
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: var(--clr-text);
}

.version {
    font-family: var(--ff-legal);
    font-size: 0.4em;
    font-weight: 200;
    border: 0.15em solid var(--clr-primary);
    border-radius: 0.5em;
    margin: 0 1em 0.5em;
    vertical-align: middle;
}
/* Navigation */

header {
    padding: 1em 0 1em;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-primary);
    text-decoration: none;
}

nav a:hover, a:focus {
    color: var(--clr-text);
    text-decoration: underline;
}
/* homepage styling */

.hero {
    background-color: var(--clr-accent);
    text-align: center;
}

.about {
    border: 0.25em solid var(--clr-text);
    border-radius: 1em;
    height: 15em;
    padding: 1.5em 0;
}

.about-text {
    color: var(--clr-text);
    font-size: 1.2em;
    text-align: justify;
    padding: 0em 0.5em 0.5em 0.5em;
}

.action {
    display: block;
    color: var(--clr-primary);
    font-family: var(--ff-serif);
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.85rem 0;
    padding: auto;
    background: white;
    color: var(--clr-text);
    text-align: center;
    padding: auto;
    font-family: var(--ff-legal);
    font-weight: 600;
}
